tr {
	height: 80px;
	border-bottom: 1px solid #cdcdcd;
}

input {
	float: right;
	
}

.topic-column {
	width: 150px;
}
.data-column {
	width: 200px;
	text-align: center;
}
.change-column {
	width: 300px;
	text-align: right;
}

.edit-email {
	display: none;
}
.edit-password {
	display: none;
}