/**
 * Global styles
 * ------------------------------
*/

* {
	font-family: 'Open Sans', sans-serif;
	outline: none;
}

html, body {
	background-color: #EDEDED;
	height: 100%;
	width: 100%;
}

h1, h2 {
	font-family: 'Julius Sans One', sans-serif;
}
.page-container {
	width: 100%;
	margin: 0;
	height: 100%;
}
.content-container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.featured-products {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Themes:
 *  - Apple   : #F26767
 *  - Electric: #0CE3F7
 *  - Lime    : #36FFD1
 *  - Oak     : #BA9E76
 * ------------------------------
*/

body.apple .background-inherit {
	background-color: #F26767;
	transition: all .25s ease-in-out;
}

body.apple .text-inherit {
	color: #F26767;
	transition: all .25s ease-in-out;
}

.apple-instance {
	background-color: #F26767;
	color: #F26767;
}

body.electric .background-inherit {
	background-color: #0CE3F7;
	transition: all .25s ease-in-out;
}

body.electric .text-inherit {
	color: #0CE3F7;
	transition: all .25s ease-in-out;
}

.electric-instance {
	background-color: #0CE3F7;
	color: #0CE3F7;
}

body.lime .background-inherit {
	background-color: #36FFD1;
	transition: all .25s ease-in-out;
}

body.lime .text-inherit {
	color: #36FFD1;
	transition: all .25s ease-in-out;
}

.lime-instance {
	background-color: #36FFD1;
	color: #36FFD1;
}

body.oak .background-inherit {
	background-color: #BA9E76;
	transition: all .25s ease-in-out;
}

body.oak .text-inherit {
	color: #BA9E76;
	transition: all .25s ease-in-out;
}

.oak-instance {
	background-color: #BA9E76;
	color: #BA9E76;
}

/**
 * Header styles
 * ------------------------------
*/

header#main-header {
	background: #282B2D;
	height: 130px;
	padding: 0px 5%;
}

header#main-header nav.navbar {
	background: transparent;
	border: none;
    border-radius: 0px;
    box-shadow: none;
	height: 120px;
	margin: 0px;
	padding: 0px;
}

header#main-header nav.navbar a img.logo {
	border: 2px solid #FFF;
	margin-top: 15px
}

header#main-header nav.navbar ul.nav li a {
	color: #FFFFFF;
}

header#main-header nav.navbar ul.nav li.open.themes a {
	background-color: #666666;
}

header#main-header nav.navbar ul.nav li.themes a span.demo-disk {
	border-radius: 100%;
	display: inline-block;
	height: 12px;
	width: 12px;
}

header#main-header nav.navbar ul.nav li.themes ul {
	background-color: #666666;
	border: none;
	border-radius: 0px;
}

header#main-header nav.navbar ul.nav li.themes ul li a {
	border-left: 3px solid #666666;
}

header#main-header nav.navbar ul.nav li.themes ul li a:hover {
	background: #888888;
	border-left: 3px solid #CCCCCC;
}

header#main-header nav.navbar ul.nav li.themes ul li a.active {
	border-left: 3px solid #FFFFFF;
}

header#main-header nav.navbar ul.nav li.themes ul li a.active:hover {
	border-left: 3px solid #FFFFFF;
}

header#main-header nav.navbar ul.nav li.themes ul li a span.demo-disk {
	margin-right: 10px;
}

header#main-header div.addItem {
	margin: 100px 0px 0px 230px;
	width: 600px;
    height: 45px;
    }

header#main-header div.addItem input {
	background-color: transparent;
	border: 1px solid #FFF;
	border-radius: 0px;
	color: #FFF;
	height: 45px;
	padding: 15px;
}

form {
	background: transparent;
	border: 1px solid #FFF;
	border-radius: 0px;
	color: #FFF;
	height: 45px;
    color:#000000;
}

header h2{
    color: #FFF;
}

aside h2, ul{
    margin: 100px 0px 0px 230px;
}

section h2
{
    
}

section{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.merchandiseTable {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
    
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table, form{
    border-collapse: collapse;
        border-spacing: 0px;
	width:75%;
	height:50%;
	margin:100px;
    padding:0px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
input[name="newItemText"]{
   width:350px;
}
input[name="newItemButton"]{
    width:150px;
    height: 50px;
}

.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#e5e5e5; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Verdana;
	font-weight:bold;
	color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.CSSTableGenerator table li{
    display: inline;
    margin: 100px 100px 2px 750px;
    
}

/*RESET*/

#page-content-wrapper {
	margin-top: 250px;
}

.product-image-container {
	float: left;
}
.product-info-container {
	clear: right;
}
.review-container{
	clear: both;
}